<div class="container">
    <div data-ng-app="app" class="container">
        <div data-ng-show="error" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <p>{{ error }}</p>
        </div>

        <p><a data-ng-click="showadd()" href="javascript:;" class="btn btn-primary">Add New</a></p>

        <div class="modal fade" id="clientModel" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        <h4 class="modal-title" id="myModalLabel" ng-hide="editMode">Add Client</h4>
                        <h4 class="modal-title" id="myModalLabel" ng-show="editMode">Edit Client</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" name="addclientform">
                            <div class="form-group">
                                <label style="text-align:left" for="title" class="col-sm-6 control-label">Name</label>
                                <label style="text-align:left" for="title" class="col-sm-6 control-label">Code</label>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <input type="text" data-ng-model="client.Name" class="form-control" id="title" placeholder="Your Name" required title="Enter Name" />
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" data-ng-model="client.Code" class="form-control" id="title" placeholder="Your Code" required title="Enter Code" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="text-align:left" for="title" class="col-sm-6 control-label">Contact</label>
                                <label for="title" style="text-align:left" class="col-sm-6 control-label">Email Address</label>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <input type="text" data-ng-model="client.Contact" class="form-control" id="title" placeholder="Contact" required title="Enter Contact" is-number />
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" data-ng-model="client.EmailAddress" class="form-control" id="title" placeholder="Email Address" required title="Enter Email Address" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="title" style="text-align:left" class="col-sm-6 control-label">Proof Age</label>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <input type="text" data-ng-model="client.ProofsAge" class="form-control" id="title" placeholder="Proof Age" required title="Enter Proof Age" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="text-align:left" for="title" class="col-sm-6 control-label">Proof Format</label>
                                <label style="text-align:left" for="title" class="col-sm-6 control-label">Status</label>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <select data-ng-model="client.ProofFormat" class="form-control" data-ng-options="item.id as item.name for item in formatList" ng-change="dropdownChange(client.ProofFormat)">
                                        <option value="">--None--</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <select data-ng-model="client.Status" class="form-control" required data-ng-options="item.id as item.name for item in statusList">
                                        <option value="">--Select--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" data-ng-show="password">
                                <label style="text-align:left" for="title" class="col-sm-6 control-label">Password</label>
                                <label style="text-align:left" for="title" class="col-sm-6 control-label" data-ng-show="realName">Name</label>
                            </div>
                            <div class="form-group" data-ng-show="password">
                                <div class="col-sm-6">
                                    <input type="text" data-ng-model="client.ProofPassword" class="form-control" id="title" placeholder="Password" ng-required="password" title="Enter Password" />
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" data-ng-model="client.ProofName" class="form-control" id="title" placeholder="Real Name" data-ng-show="realName" ng-required="realName" title="Enter Real Name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <span data-ng-hide="editMode">
                                        <input type="submit" value="Add" ng-disabled="addclientform.$invalid" data-ng-click="add()" class="btn btn-primary" />
                                    </span>
                                    <span data-ng-show="editMode">
                                        <input type="submit" value="Update" ng-disabled="addclientform.$invalid" data-ng-click="update(client.ClientId)" class="btn btn-primary" />
                                    </span>
                                    <input type="button" value="Cancel" data-ng-click="cancel()" class="btn btn-primary" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <h1>Client List</h1>
        <table wt-responsive-table class="table table-hover">
            <tr>
                <!--<th>Index</th>-->
                <th>Name</th>
                <th>Code</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Proof Format</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            <tr data-ng-repeat="client in clients">
                <!--<td><strong>{{ $index }}</strong></td>-->
                <td>
                    <p>{{ client.Name }}</p>
                </td>
                <td>
                    <p>{{ client.Code }}</p>
                </td>
                <td>
                    <p>{{ client.EmailAddress }}</p>
                </td>
                <td>
                    <p>{{client.Contact}}</p>
                </td>
                <td>
                    <p>{{client.ProofFormat}}</p>
                </td>
                <td>
                    <p>{{client.Status}}</p>
                </td>
                <td>
                    <p>
                        <a data-ng-click="get(client)" href="javascript:;">View</a> |
                        <a data-ng-click="edit(client)" href="javascript:;">Edit</a> |
                        <a data-ng-click="showconfirm(client)" href="javascript:;">Delete</a>
                    </p>
                </td>
            </tr>
        </table>
        <hr />

        <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        <h4 class="modal-title" id="myModalLabel">View Client</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" name="viewclient">
                            <div class="form-group">
                                <label for="Name" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    {{client.FirstName}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Address" class="col-sm-2 control-label">LastName</label>
                                <div class="col-sm-10">
                                    {{client.LastName}}
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        <h4 class="modal-title" id="myModalLabel">Confirm Action</h4>
                    </div>
                    <div class="modal-body">
                        Are you sure to delete?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-ng-click="delete()">Ok</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
