<app-header></app-header>
<br/>
<br/>
<br/>
<div class="container body-content">
  <p-dataTable [value]="Clients" [responsive]="true" [sortField]="sortF" [sortOrder]="sortO" (onSort)="changeSort($event)" selectionMode="single"
    [(selection)]="selectedClient" (onRowSelect)="onSelect()">
    <p-header>Clients</p-header>
    <!-- <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [sortable]="true"></p-column> -->
    <p-column field="Name" header="Name" [sortable]="true"></p-column>
    <p-column field="Code" header="Code" [sortable]="true"></p-column>
    <p-column field="EmailAddress" header="Email Address" [sortable]="true"></p-column>
    <p-column field="Contact" header="Contact" [sortable]="true"></p-column>
    <p-column field="ProofFormat" header="Proof Format" [sortable]="true">
      <ng-template let-item="rowData" pTemplate type="body">
        {{item.ProofFormat == null ? "NONE" : item.ProofFormat}}
      </ng-template>
    </p-column>
    <p-column field="Status" header="Status" [sortable]="true"></p-column>
  </p-dataTable>
  <p-paginator rows="5" totalRecords="{{ _total }}" pageLinkSize="3" [rowsPerPageOptions]="[5,10,20]" (onPageChange)="paginate($event)"></p-paginator>
  <p-footer>
    <div class="ui-helper-clearfix" style="width:100%">
      <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button>
    </div>
  </p-footer>
</div>