<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Input Path-->
    <add key="FileOperation" value="Copy"/>      
    <add key="DbFile" value="E:\projects\Automation\Working\DB\BLWService.sqlite" />
    <add key="TriggerFileDirectory" value="E:\projects\Automation\Working\Trigger\Working" />
    <add key="LogSeverity" value="Debug" />
    <add key="LogDirectory" value="E:\projects\Automation\Working\Logs" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
