<app-header></app-header>
<br/>
<br/>
<br/>
<div class="container body-content">
  <p-table [columns]="cols" [value]="RunDetails" dataKey="RunDetailId" [responsive]="true" (sortFunction)="changeSort($event)"
    [customSort]="true">
    <ng-template pTemplate="caption">
      Run Details
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3em"></th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th style="width: 3em"></th>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <!-- <p-multiSelect  [options]="Applications" [(ngModel)]="selectedApplications" optionLabel="Name" defaultLabel="All Applications" (onChange)="getRunDetails()" [style]="{'width':'100%'}"></p-multiSelect> -->
          <!-- <p-dropdown *ngSwitchCase="'ApplicationId'" [options]="groupedCars" [(ngModel)]="selectedCar" placeholder="Select a Car" [group]="true" [style]="{'width':'100%'}"></p-dropdown> -->
          <p-dropdown *ngSwitchCase="'ApplicationId'" [options]="groupedApplications" [(ngModel)]="selectedApplication" [style]="{'width':'100%'}"
            placeholder="Select" [group]="true" [showClear]="true" (onChange)="getRunDetails()">
            <ng-template let-group pTemplate="group">
              <span>({{group.value}})</span>
              <span style="vertical-align:middle;margin-left:.25em">{{group.label}}</span>
            </ng-template>
          </p-dropdown>
          <input *ngSwitchCase="'RunNumber'" pInputText type="text">
          <p-dropdown *ngSwitchCase="'RunNumberStatusId'" [options]="RunNumberStatuses" [(ngModel)]="RunNumberStatus" placeholder="Select Status"
            optionLabel="Status" (onChange)="getRunDetails()" [style]="{'width':'100%'}"></p-dropdown>
          <div *ngSwitchCase="'CreatedAt'">
            Value
            < {{yearFilter}} <i class="fa fa-close" (click)="yearFilter=null" style="cursor:pointer" *ngIf="yearFilter"></i>
              <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="yearFilter" [min]="1970" [max]="2010"></p-slider>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-expanded="expanded">
      <tr>
        <td>
          <a href="#" [pRowToggler]="item">
            <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
          </a>
        </td>
        <td>{{ GetApplicationbyId(item.ApplicationId)}}</td>
        <td>{{item.RunNumber}}</td>
        <td>{{GetRunNumberStatusbyId(item.RunNumberStatusId)}}</td>
        <td>{{item.CreatedAt | date:'MM/dd/yyyy HH:mm'}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-item>
      <tr>
        <td></td>
        <td [attr.colspan]="4">
          <p-table [value]="item.RunComponentStatus">
            <ng-template pTemplate="header">
              <tr>
                <th>Component</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Message</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car>
              <tr>
                <td>{{ GetComponentbyId(car.ComponentId)}}</td>
                <td>{{car.StartDate}}</td>
                <td>{{car.EndDate}}</td>
                <td>{{GetComponentStatusbyId(car.ComponentStatusId)}}</td>
                <td [ngClass]="'old-car'">{{car.Message}}</td>
              </tr>
            </ng-template>
          </p-table>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator rows="5" totalRecords="{{ _total }}" pageLinkSize="3" [rowsPerPageOptions]="[5,10,20]" (onPageChange)="paginate($event)"></p-paginator>
</div>