<div class="container">
    <div data-ng-app="app" class="container">
        <div data-ng-show="error" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <p>{{ error }}</p>
        </div>


        <div class="modal-header">
            <h4 class="modal-title">Reset your password.</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form" name="changepasswordform">
                <div class="form-group">
                    <label for="title" class="control-label col-sm-2">Current Password</label>
                    <div class="col-sm-6">
                        <input type="password" data-ng-model="changePassword.OldPassword" class="form-control" id="title" placeholder="Current Password" required title="Current Password" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="control-label col-sm-2">New Password</label>
                    <div class="col-sm-6">
                        <input type="password" data-ng-model="changePassword.NewPassword" class="form-control" id="Password" name="Password" placeholder="Password" required title="Enter Password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" />
                        <span class="error" ng-show="changepasswordform.Password.$error.pattern">
                            Password should be atleast 8 characters long
                            and should contain one number,one character and one special
                            character.
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="control-label col-sm-2">Confirm Password</label>
                    <div class="col-sm-6">
                        <input type="password" data-ng-model="changePassword.ConfirmPassword" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" required title="Enter Confirm Password" pw-check="Password" />
                        <span class="error" ng-show="changepasswordform.ConfirmPassword.$error.pwmatch">Passwords don't match.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-6">
                        <span>
                            <input type="submit" value="Reset" ng-disabled="changepasswordform.$invalid" data-ng-click="reset()" class="btn btn-primary" />
                        </span>
                        <input type="button" value="Cancel" data-ng-click="cancel()" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>