<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DbFile" value="E:\Jaspreet\AutomationNew\Automation\Working\DB\BLWService.sqlite"/>
    <!--File Type logging-->
    <add key="LogSeverity" value="Debug"/>
    <add key="LogDirectory" value="E:\$projects\Automation\Working\Logs"/>

    <!--SMTP Details-->
    <add key="SmptServer" value="mail.belwo.info"/>
    <add key="SmptUser" value="noreply@belwo.info"/>
    <add key="SmptPass" value="13579XYZ"/>
    <!--Email addressed-->
    <add key="EmailFrom" value="noreply@belwo.info"/>
    <add key="ErrorEmailTo" value="salil.sharma@belwo.info"/>
    <add key="ErrorEmailCC" value=""/>
    <add key="NotificationEmailTo" value="salil.sharma@belwo.info"/>
    <add key="NotificationEmailCC" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
