<app-header></app-header>
<br/>
<br/>
<br/>
<div class="container body-content">
    <div *ngIf="selectedApplication">
        <form [formGroup]="applicationform" (ngSubmit)="save()">
            <p-panel header="Application">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Client *:
                        </div>
                        <div class="ui-grid-col-6">
                            <p-dropdown id="client" name="client" formControlName="client" [options]="clients" [(ngModel)]="client" optionLabel="Name" placeholder="Select Client"></p-dropdown>
                        </div>
                        <div class="ui-grid-col-4">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!applicationform.controls['client'].valid&&applicationform.controls['client'].dirty">
                                <i class="fa fa-close"></i>
                                Client is required
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            File Transfer *:
                        </div>
                        <div class="ui-grid-col-6">
                            <p-dropdown id="fileTransfer" name="fileTransfer" formControlName="fileTransfer" [options]="fileTransfers" [(ngModel)]="fileTransfer" optionLabel="Name" placeholder="Select"></p-dropdown>
                        </div>
                        <div class="ui-grid-col-4">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!applicationform.controls['fileTransfer'].valid&&applicationform.controls['fileTransfer'].dirty">
                                <i class="fa fa-close"></i>
                                This Field is required
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Name *:
                        </div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text" formControlName="name" [(ngModel)]="selectedApplication.Name" placeholder="Required" />
                        </div>
                        <div class="ui-grid-col-4">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!applicationform.controls['name'].valid&&applicationform.controls['name'].dirty">
                                <i class="fa fa-close"></i>
                                Name is required
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Code *:
                        </div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text" formControlName="code" [(ngModel)]="selectedApplication.Code" placeholder="Required" />
                        </div>
                        <div class="ui-grid-col-4">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!applicationform.controls['code'].valid&&applicationform.controls['code'].dirty">
                                <i class="fa fa-close"></i>
                                Code is required
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Hot Folder *:
                        </div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text" formControlName="hotFolder" [(ngModel)]="selectedApplication.HotFolder" placeholder="Required" />
                        </div>
                        <div class="ui-grid-col-4">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!applicationform.controls['hotFolder'].valid&&applicationform.controls['hotFolder'].dirty">
                                <i class="fa fa-close"></i>
                                Hot Folder is required
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Is Archive *:
                        </div>
                        <div class="ui-grid-col-6">
                            <p-dropdown id="isArchive" name="isArchive" formControlName="isArchive" [options]="statuses" [(ngModel)]="isArchive" placeholder="Select"
                                optionLabel="Label"></p-dropdown>
                        </div>
                        <div class="ui-grid-col-4">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!applicationform.controls['isArchive'].valid&&applicationform.controls['isArchive'].dirty">
                                <i class="fa fa-close"></i>
                                This field is required
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row" *ngIf="(isArchive.Value == 'true')">
                        <div class="ui-grid-col-2">
                            Archive Path *:
                        </div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text" formControlName="archivePath" [(ngModel)]="selectedApplication.ArchivePath" placeholder="Required" />
                        </div>
                        <div class="ui-grid-col-4">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!applicationform.controls['archivePath'].valid&&applicationform.controls['archivePath'].dirty">
                                <i class="fa fa-close"></i>
                                Archive Path is required
                            </div>
                        </div>
                    </div> 
                    <div class="ui-grid-row" *ngIf="(isArchive.Value == 'true')">
                        <div class="ui-grid-col-2">
                            Archive File Name *:
                        </div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text" formControlName="archiveFileName" [(ngModel)]="selectedApplication.ArchiveFileName" placeholder="Required" />
                        </div>
                        <div class="ui-grid-col-4">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!applicationform.controls['archiveFileName'].valid&&applicationform.controls['archiveFileName'].dirty">
                                <i class="fa fa-close"></i>
                                Archive File Name is required
                            </div>
                        </div>
                    </div> 
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Input Path *:
                        </div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text" formControlName="inputPath" [(ngModel)]="selectedApplication.InputPath" placeholder="Required" />
                        </div>
                        <div class="ui-grid-col-4">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!applicationform.controls['inputPath'].valid&&applicationform.controls['inputPath'].dirty">
                                <i class="fa fa-close"></i>
                                Input Path is required
                            </div>
                        </div>
                    </div> 
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Is Move File *:
                        </div>
                        <div class="ui-grid-col-6">
                            <p-dropdown id="isFileMove" name="isFileMove" formControlName="isFileMove" [options]="statuses" [(ngModel)]="isFileMove" placeholder="Select"
                                optionLabel="Label"></p-dropdown>
                        </div>
                        <div class="ui-grid-col-4">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!applicationform.controls['isFileMove'].valid&&applicationform.controls['isFileMove'].dirty">
                                <i class="fa fa-close"></i>
                                This field is required
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Is Batch *:
                        </div>
                        <div class="ui-grid-col-6">
                            <p-dropdown id="isBatch" name="isBatch" formControlName="isBatch" [options]="statuses" [(ngModel)]="isBatch" placeholder="Select"
                                optionLabel="Label"></p-dropdown>
                        </div>
                        <div class="ui-grid-col-4">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!applicationform.controls['isBatch'].valid&&applicationform.controls['isBatch'].dirty">
                                <i class="fa fa-close"></i>
                                This field is required
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Status *:
                        </div>
                        <div class="ui-grid-col-6">
                            <p-dropdown id="status" name="status" formControlName="status" [options]="statuses" [(ngModel)]="status" placeholder="Select Status"
                                optionLabel="Label"></p-dropdown>
                        </div>
                        <div class="ui-grid-col-4">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!applicationform.controls['status'].valid&&applicationform.controls['status'].dirty">
                                <i class="fa fa-close"></i>
                                Status is required
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"></div>
                        <div class="ui-grid-col-3">
                            <button pButton type="submit" label="Submit" [disabled]="!applicationform.valid"></button>
                        </div>
                        <div class="ui-grid-col-3">
                            <button pButton label="Cancel" type="button" class="ui-button-warning" (click)="cancel()"></button>
                        </div>
                        <div class="ui-grid-col-4"></div>
                    </div>
                </div>
            </p-panel>
        </form>
    </div>
</div>